body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 250px;
    background-image: url("bg.jpg");
    overflow: hidden;
    background-size: cover;
}

.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0f3c4c;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.task-form {
    display: flex;
    gap: 4px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-list {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}

.completed {
    text-decoration: line-through;
    color: #777;
}

button.delete {
    background-color: #ff3b3b;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button.edit {
    background-color: #ffc107;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.edit:hover {
    background-color: #ff9800;
}
